DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
GITHUB_OAUTH2_CLIENT_ID=
GITHUB_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=
REDIS_URL=
SERVER_PORT=
SPRING_FLYWAY_ENABLED=
